.background{
    max-width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile-img@2x.jpg);
}
}
.hero{
    padding-top:118px;
    padding-bottom: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hero-title{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    color: var(--white-color);
}

// 768px +
@media screen and (min-width: 768px){
    .background{
        max-width: 100%;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-img@2x.jpg);
    }
    }
}

// 1200px +
@media screen and (min-width: 1200px){
    .background{
        max-width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop-img@2x.jpg);
    }
    }
    .hero{
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-title{
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        }
        
}







// .background{
//     max-width: 1600px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
//     background-repeat: no-repeat;
//     background-size:cover;
//     background-position: center;
// }
// .hero{
//     padding-top: 200px;
//     padding-bottom: 200px;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
// }
// .hero-title{
//     width: 696px;
//     margin-left: auto;
//     margin-right: auto;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.3;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--white-color);
// }
