:root{
    --fill-social-network:#AFB1B8;
    --blue-color:#2196F3;
    --black-color:#212121;
    --grey-color:#757575;
    --white-color:#FFFFFF;
    --shade-color: rgba(255, 255, 255, 0.6);
    --background-color:#2F303A;
    --line-color:#ECECEC;
    --border-img:#EEEEEE;
    --command-color:#F5F4FA;
    --color-client:#F5F5F5;
    --color-radius: rgba(255, 255, 255, 0.1);
    --border-email-footer: rgba(255, 255, 255, 0.3);
}